html, body {
  justify-items: auto;
  padding-left: 0%;
  font-family: andale mono;
  height: 100%;
  background-color: #b4a2cf;
  color: black;
}

.container {
  height: 100%;
  align-items: flex-end;
  flex-direction: row;
  width:100%;
}

a {
  background-color: rgb(251, 241, 250);
  border-radius: 25%;
  border: solid;
  border-color: rgb(160, 120, 157);
  text-decoration:none;
  padding: 5px;
  color: black;
}

.navbar {
  padding: 1%;
  font-family: andale mono;
  background-color:rgb(229, 215, 228);
  width:100%;
  a:nth-child(1) {
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 0%;
    padding: 1%;
  }
  a:nth-child(5) {
    height: 60px;
    width: 60px;
    border: solid 1px;
    border-radius: 50%;
    align-content: center;
  }
}

.task-expandable {
  background-color: #a269e3;
  text-align: center;
  border: none;
  width: 50%;
  margin-left: 5%;
  margin: 1%;

}

.profile-picture {
  width: 50px;
  height: 30px;
}

.status-emoji {
  width: 50px;
  height: 30px;
}


.friend-section, .friend-section > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-column, .friends-row {
  background-color: #fcc8b2;
}

.row {
  width: 100%;
  flex-direction: row;
}

.flex-container {
  background-color: #685389;
  color: white;
  padding: 10px;
  margin: 10px;
  font-family: monospace;
  flex: 1;
  box-sizing: border-box;
  width:fit-content;
}

.main-container {
  background-color: #685389;
  color: white;
  padding: 10px;
  margin: 10px;
  font-family: andale mono;
  flex: 2;
  box-sizing: border-box;
}

.TasksContainer {
  margin-top: 10px;
  background-color: #fcc8b2;
  font-family: andale mono;
  height: 250px;
  overflow-y: auto; /* Enable vertical scroll */
  padding: 10px;
  font-family: andale mono;
  p {
    color: black;
  }
}

header{
    max-width: fit-content;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: andale mono;
}

button.AddButt {
  max-width: fit-content;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-family: andale mono;
}

.days {
  padding: 10px;
  background: #fcc8b2;
  font-family: andale mono;
}

.days .day {
  list-style-type: none;
  display:inline-table;
  width: 12.6%;
  text-align: center;
  height: 100px;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  font-family: andale mono;
}

thead {
  font-family: andale mono;
  background-color: #fcc8b2;
  justify-content: center;
  align-items: center;
}

body{
    font-family: andale mono;
    justify-content: center;
    & .container {
      width: 100%;
      padding: 1%;
      align-items: center;
    }
  .container{
      margin: 0%;
      width: 100%;
    }
}

.row{
  display: flex;
  flex-direction: row;
}

div {
    & .container {
      display: flex;
      align-items: center;
      padding: 4%;
    }
  }

/* 2.4 Here shows where the large to small viewport styles change */
@media (max-width: 575px) {
  .main-container {
    order: -1;
  }

 .row {
    padding: 5%;
    width: 100%;
    flex-direction: column; /* Stack the divs vertically */
  }
}